<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - HN Tplocal</title>
    <link rel="stylesheet" href="~/resources/Index.css" />
</head>
<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Welcome to TP HN</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index/Form">Fill in the form</a></li>
            <li><a href="/Home/Index/AvisList">Avis list</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
