@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "HN - TP LOCAL";
}

<section>
    <form>
        <div>
            <p>Informations personnelles</p>
            <table>
                <tr>
                    <th><label for="lname">Nom</label></th>
                    <td><input type="text" id="lname" name="lname"/></td>
                </tr>
                <tr>
                    <th><label for="fname">Prénom</label></th>
                    <td><input type="text" id="fname" name="fname" /></td>
                </tr>
                <tr>
                    <th><label for="usergender">Sexe</label></th>
                    <td>
                        <select id="usergender" name="usergender">
                            <option value="" disabled selected>Selectionné un sexe</option>
                            <option value="userman">Homme</option>
                            <option value="userwoman">Femme</option>
                            <option value="userother">Non-binaire</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="useradress">Adresse</label></th>
                    <td><input type="text" id="useradress" name="useradress" /></td>
                </tr>
                <tr>
                    <th><label for="userzipcode">Code Postale</label></th>
                    <td><input type="text" id="userzipcode" name="userzipcode" /></td>
                </tr>
                <tr>
                    <th><label for="usertown">Ville</label></th>
                    <td><input type="text" id="usertown" name="usertown" /></td>
                </tr>
                <tr>
                    <th><label for="useremail">Adresse email</label></th>
                    <td><input type="text" id="useremail" name="useremail" /></td>
                </tr>
            
            </table>
        </div>

        <div>
            <p>Informations formation suivie</p>
            <table>
                <tr>
                   <th><label for="startdate">Date de début formation</label></th>
                   <td><input type="date" id="startdate" name="startdate" /></td>
                </tr>
                <tr>
                    <th><label for="coursename">Formation suivie</label></th>
                    <td>
                        <select id="coursename" name="coursename">
                            <option value="" disabled selected>Sélectionner une formation</option>
                            <option value="cobol">Formation Cobol</option>
                            <option value="dotnet">Formation C#</option>
                            <option value="doubleskills">Formation double compétences</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <p>Avis sur la formation</p>
            <table>
                <tr>
                    <th><label for="opinioncobol">Formation Cobol</label></th>
                    <td><input type="text" id="opinioncobol" name="opinioncobol" /></td>
                </tr>
                <tr>
                    <th><label for="opiniondotnet">Formation C#</label></th>
                    <td><input type="text" id="opiniondotnet" name="opiniondotnet" /></td>
                </tr>
            </table>
        </div>
    </form>
</section>