@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<TPLOCAL1.Models.Opinion>

@{
    ViewData["Title"] = "Liste des avis";
    ViewData["TitleH1"] = ViewData["Title"];
    List<TPLOCAL1.Models.Opinion> opinionList = Model;
}

<section>
    <p id="titleliste">Liste</p>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Avis donné</th>
        </tr>
        @foreach (var row in opinionList)
        {
            <tr>
                <td>@row.LastName</td>
                <td>@row.FirstName</td>
                @if (@row.OpinionGiven == "O")
                {
                    <td id="noticegiven">Oui</td>
                }
                else
                {
                    <td id="noticenotgiven">Non</td>
                }
                
            </tr>
        }
    </table>
</section>