
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/ressources/Index.css"/>
        <title>HN - TP LOCAL</title>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
    </head>

    <body>
        <header>
            <h1>Welcome to TP HN</h1>
        </header>
    </body>
</html>
