
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>HN - TP LOCAL</title>
    </head>

    <body>
        <header>
            <h1>Welcome to TP HN</h1>
        </header>
    </body>
</html>
